
* {
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.clearfix {
    content: "";
    display: table;
    clear: both;
}

/*-------------------Header-----------------*/
.logo_text{
    display: inline-block;
    font-size: 43px;
    font-weight: 300;

    font-family: 'Lobster', cursive;

    margin: 15px 0;

    color: #44c0c2;
}

.list{
    margin-top: 30px;
    float: right;
    display: inline-block;
    list-style: none;
}
.list_point{
    display: inline-block;
}
.link{
    text-decoration: none;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #484c55;

    padding: 30px 14px 30px 14px;
    background: none;
    transition: .2s;

    font-size: 15px;
}
.link:hover{
    color: #44c0c2;
    border-bottom: 5px solid #44c0c2;
    background-color: rgb(248, 249, 251);
}



/*--------------------Slider-----------------*/
.box {
    margin: 0 auto;
    width: 670px;
    text-align: center;

}
.title_slider{
    margin-top: 110px;
    color: white;
    font-size: 63px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.title_p_for_slider {
    display: inline-block;
    text-align: center;
    width: 450px;

    margin-top: 20px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 23px;
}
.button_on_slider{
    display: block;
    margin: 55px 220px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    border: 3px solid white;
    padding: 12px 20px;

    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    transition: .2s;
}
.button_on_slider:hover{
    background-color: #44c0c2;
    opacity: 0.7;
    border: 3px solid #44c0c2;
}

.slides{
    list-style: none;
}
.slide{
    background: url("../img/banner_background.jpg") no-repeat;
    background-size: cover;
}
.slide_second_img_mod{
    background: url("../img/bird.jpg") no-repeat;
    background-size: cover;
}
.slide_third_img_mod{
    background: url("../img/yard.jpg") no-repeat;
    background-size: cover;
}




/*----------------------Service--------------------*/
.service_block{
    margin-top: 104px;
    display: inline-block;

    width: 24%;
    box-sizing: border-box;
    text-align: center;

    padding: 20px;
}

.change_color{
    text-align: center;
}

.border_circle{
    display: inline-block;
    border: 3px solid #44c0c2;
    padding: 25px 20px;

    border-radius: 50%;
    height: 100px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: .2s;

    font-size: 40px;

    box-sizing: border-box;
    margin-bottom: 50px;
}

.title_service_block{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 25px;
}
.style_p_text {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;

    color: #4e525d;
    line-height: 1.5;
}

.buttonForService{
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px;
    background-color: #44c0c2;
    color: white;
    border-radius: 5px;

    margin-bottom: 20px;
}


/*----------------Animation text for Service-Block under cursor---------------*/
.border_circle:hover {
    background-color: #44c0c2;
}
.icon-rocket:hover {
    color: white;
}
.border_circle:hover + .title_service_block {
    color: #44c0c2;
}
/*---------------------------------*/
.icon-desktop_mac:hover {
    color: white;
}
/*---------------------------------*/
.icon-light-bulb:hover {
    color: white;
}
/*---------------------------------*/
.icon-mobile:hover {
    color: white;
}
/*---------------------------------*/


/*Portfolio*/
.portfolio{
    background-color: #f1f1f1;
    text-align: center;

    margin-top: 98px;
    padding-top: 50px;
    padding-bottom: 100px;
}
.title_sections{
    font-family: 'Open Sans', sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #4e525d;
    margin-bottom: 50px;
}
.portfolio_img{
    display: inline-block;
    background: url("../img/Portfolio/Mountains.jpg") no-repeat;
    height: 314px;
    width: 370px;
    margin: 0 14px 24px 0;

    cursor: pointer;
}

.portfolio_img_mod_1{
    background: url("../img/Portfolio/Camera.jpg") no-repeat;
}
.portfolio_img_mod_2{
    background: url("../img/Portfolio/Letter.jpg") no-repeat;
}
.portfolio_img_mod_3{
    background: url("../img/Portfolio/Joy.jpg") no-repeat;
}
.portfolio_img_mod_4{
    background: url("../img/Portfolio/Town.jpg") no-repeat;
}
.portfolio_img_mod_5{
    background: url("../img/Portfolio/Flower.jpg") no-repeat;
}

.buttonForPortfolio{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    padding: 12px 50px;
    background: none;
    color: #44c0c2;
    border-radius: 5px;
    border: 3px solid #44c0c2;
    transition: .2s;

    margin-top: 50px;
}
.buttonForPortfolio:hover{
    background-color: #44c0c2;
    color: white;
}

/*----------------------The Team block----------------------*/

.team{
    padding-top: 95px;
    padding-bottom: 105px;
    text-align: center;
}
.title_margin_mod{
    margin-bottom: 140px;
}
.team_block{
    display: inline-block;

    width: 24%;
    box-sizing: border-box;
    text-align: center;

    padding: 20px;
}

.border_circle_for_team_block{
    position: relative;
    font-size: 70px;
    font-weight: bold;
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    text-align: center;
    cursor: pointer;
    transition: .2s;
    background-color: #eeeef0;

    margin-bottom: 70px;
}

.member_team_name{
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4e525d;

    margin-bottom: 10px;
}
.position_member_team{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #4e525d;

    margin-bottom: 35px;
}

/*--------------------------------------------------*/
.plus{
    display: none;
    right: 72px;
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    font-weight: bold;
    margin-top: 20px;
}
.border_circle_for_team_block:hover + .member_team_name{
    color: #f46d6d;
}
.border_circle_for_team_block:hover > .plus{
    display: inline-block;
    position: absolute;
    color: #f46d6d;
}

/*--------------------------------------------------*/


/*------------------Plan block-------------------*/
.plans{
    background-color: #f1f1f1;
    padding-top: 118px;
    padding-bottom: 100px;
}
.plan_block{
    display: inline-block;
    width: 31%;
    cursor: pointer;
    margin-right: 10px;
    vertical-align: top;
}
.plan_block_margin_mod{margin-right: 0}
.buy_plan {
    text-align: center;
    width: 100%;
    height: 77px;
    background-color: #485460;
    color: white;
    box-sizing: border-box;

    padding-top: 25px;
}
.buy_plan_change_background{
    text-align: center;
    width: 100%;
    height: 77px;
    background-color: #485460;
    color: white;
    box-sizing: border-box;

    font-size: 26px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;

    padding-top: 25px;
    transition: .2s;
}
.coast_mod{
    background-color: #f8f9fb;
    color: #485460;
    border-bottom: 1px solid #ecf0f1;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}
.list_plan{
    text-align: center;
    list-style: none;
    background-color: white;
}
.plan_point{
    height: 48px;
    border-bottom: 1px solid #ecf0f1;
    box-sizing: border-box;
    padding-top: 13px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8c9299;
}

.button_plan_block{
    background-color: #f8f9fb;
    color: #485460;
}
.buy_plan_button{
    color: white;
    padding: 10px 40px;
    background-color: #788492;
    border-radius: 5px;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
    transition: .2s;
}

.plan_block:hover > .buy_plan_change_background {
    background-color: #44c0c2;

}
.plan_block:hover > div > .buy_plan_button {
    background-color: #44c0c2;
}


/*-------------------------Testimonials--------------------*/
.testimonials{
    text-align: center;
    padding-top: 147px;
    padding-bottom: 84px;
}
.title_testImon_mod{
    margin-bottom: 37px;
}
.comment_last_client{
    width: 640px;
    margin: 0 auto;
    font-size: 19px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    line-height: 1.5;
}

.name_client{
    margin-top: 40px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    font-size: 21px;
    color: #9a8faf;
}



/*----------------------Contact us--------------------*/
.title_footer{
    color: white;
    text-align: center;
    font-size: 42px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    margin-bottom: 118px;
}
.title_footer_mod{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}
.contact_us{
    padding-top: 107px;
    background: url("../img/Footter_background.jpg") no-repeat;
    height: 691px;
    background-size: cover;

}
.contact_block{
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

.social{
    display: inline-block;
    text-decoration: none;
    color: white;
}

.style_p_text_color_mod {
    color: white;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    padding-right: 110px;
}
.social_links{
    margin: 10px 0 30px 0;
}

.style_p_for_footer {
    color: #bface2;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    margin-bottom: 5px;
}
.mail_link{
    text-decoration: none;
}
.mail_link:hover{
    text-decoration: underline;
}

/*----------------Form------------------*/

.area_for_text{
    display: inline-block;
    height: 44px;
    width: 270px;
    border: none;
    border-radius: 5px;
    margin-right: 25px;
    padding: 5px 5px;
    box-sizing: border-box;
}
.marginRight_mod{
    margin-right: 0;
}

.area_for_message{
    display: block;
    resize: none;
    width: 570px;
    height: 180px;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
    padding: 5px 5px;
    box-sizing: border-box;
}
.button_send{
    float: right;
    text-decoration: none;
    padding: 12px 58px;
    background-color: white;
    border-radius: 5px;
    margin-top: 30px;

    color: #44c0c2;

    font-size: 22px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    transition: .2s;
}
.button_send:hover{
    background-color: #44c0c2;
    color: white;
}

@media screen and (min-width: 980px) {
    .wrapper {
        width: 960px;
        margin: 0 auto;
    }
    .area_for_text{
        width: 220px;
    }
    .area_for_message{
        width: 470px;
    }
}

@media screen and (min-width: 1366px) {
    .wrapper {
        width: 1170px;
        margin: 0 auto;
    }
    .area_for_text{
        width: 270px;
    }
    .area_for_message{
        width: 573px;
    }
}